@font-face {
    font-family: 'Untitled Sans';
    font-weight: 400;
    font-display: optional;
    src: url(UntitledSansWeb-Regular.woff2) format('woff2'),
  }
  
@font-face {
    font-family: 'Untitled Sans';
    font-weight: 500;
    font-display: optional;
    src: url(UntitledSansWeb-Medium.woff2) format('woff2');
}
